---
---

<div class="vmodal" id="vmodal" role="dialog" aria-modal="true" aria-label="Video player">
  <div class="vmodal-inner">
    <button class="vmodal-close" id="vmodalClose" aria-label="Close video">✕</button>
    <div class="vmodal-frame" id="vmodalFrame"></div>
  </div>
</div>

<script>
  import "../scripts/modal";
</script>
